<div class="card h-100">
    <img src="{{ asset('images/product_placeholder.png') }}" class="card-img-top"/>
    <div class="card-body d-flex flex-column justify-content-between">
        <a href="{{ path('app_catalog_article', {support: article.support, slug: article.slug}) }}"
           class="card-title text-center w-100">
            {{ article.name }}
            {{ article.quantity }}
            {{ article.price }}
        </a>
        <div class="d-grid col-1 mx-auto">
            <a href="{{ path('app_cart_add', {id: article.id}) }}" class="btn btn-success btn-sm">
                <i class="bi bi-minecart"></i>

            </a>
        </div>
    </div>
</div>
