<div class="card h-100">
    <div class="position-relative">
        {% if article.album.images[0] is defined %}
            <img src="{{ asset('upload/albums/' ~ article.album.images[0].imageName) }}" alt="{{ article.name }}"
                 class="card-img-top">
        {% else %}
            <img src="{{ asset('/images/product_placeholder.png') }}" alt="{{ article.name }}" class="card-img-top">
        {% endif %}
        {% if app.user %}
            {% set class = 'position-absolute btn btn-outline-dark rounded-circle me-2 ' %}
            {% if app.user.wantlist is not null and article in app.user.wantlist.product %}
                {% include 'partials/_obfuscation_link.html.twig' with {
                    url: path('app_wantlist_remove', {productId: article.id}),
                    class: class ~ 'top-0 end-0 mt-2',
                    icon: "bi-eye-slash-fill"
                } %}
            {% else %}
                {% include 'partials/_obfuscation_link.html.twig' with {
                    url: path('app_wantlist_add', {productId: article.id}),
                    class: class ~ 'top-0 end-0 mt-2',
                    icon: "bi-eye-fill"
                } %}
            {% endif %}
            {% if app.user.userCollection is not null and article in app.user.userCollection.article %}
                {% include 'partials/_obfuscation_link.html.twig' with {
                    url: path('app_collection_remove', {productId: article.id}),
                    class: class ~ 'bottom-0 end-0 mb-2' ,
                    icon: "bi-database-fill-dash"
                } %}
            {% else %}
                {% include 'partials/_obfuscation_link.html.twig' with {
                    url: path('app_collection_add', {productId: article.id}),
                    class: class ~ 'bottom-0 end-0 mb-2',
                    icon: "bi-database-fill-add"
                } %}
            {% endif %}
        {% endif %}
    </div>
    <div class="card-body d-flex flex-column justify-content-between">
        <a href="{{ path('app_catalog_show', {support: article.support, slug: article.slug}) }}"
           class="card-title text-center w-100">
            <p>{{ article.name }}</p>
        </a>
        <div class="d-flex justify-content-between align-items-center mt-3">
            <p class="m-0">Prix: {{ (article.price/100) |format_currency('EUR') }}</p>
            {% include 'partials/_obfuscation_link.html.twig' with {
                url: path('app_cart_add', {id: article.id}),
                class: "btn btn-success",
                icon: "bi-minecart"
            } %}
        </div>
    </div>
</div>
