{% extends 'user/user-dashboard.html.twig' %}

{% block content %}
    <div class="row my-5">
        <div class="col">
            <h2>Modifier mon mot de passe</h2>
        </div>
    </div>
    {{ form_start(form, {
        attr: {
            class: 'row g-3'
        }
    }) }}
    <div class="col-12">
        <div class="form-floating mb-3">
            {{ form_widget(form.current_password) }}
            {{ form_label(form.current_password) }}
            {{ form_errors(form.current_password) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(form.new_password.first) }}
            {{ form_label(form.new_password.first) }}
            {{ form_errors(form.new_password.first) }}
        </div>
        <div class="form-floating mb-3">
            {{ form_widget(form.new_password.second) }}
            {{ form_label(form.new_password.second) }}
            {{ form_errors(form.new_password.second) }}
        </div>
    </div>
    <div class="d-grid col-md-8 mx-auto mb-5">
        {{ form_widget(form.submit) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
