{% set route = app.current_route %}
{% set wantlist_route =  route == 'app_user_wantlist' %}

<table class="table align-middle rounded-1">
    <thead>
    <tr>
        {% for category in categories %}
            <th class="text-center text-danger">{{ category | upper }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for item in products %}
        {% set remove_action = wantlist_route ?
            path('app_wantlist_remove', {productId: item.article.id}) :
            path('app_collection_remove', {productId: item.article.id}) %}
        <tr>
            <th>
                <div class="d-flex justify-content-center align-items-center">
                    {% include 'partials/_obfuscation_link.html.twig' with {
                        url: remove_action,
                        class: "btn btn-outline-danger btn-sm rounded-circle",
                        icon: "bi-trash "
                    } %}
                </div>
            </th>
            {% if wantlist_route %}
                <th>
                    <div class="d-flex justify-content-center align-items-center">
                        {% include 'partials/_obfuscation_link.html.twig' with {
                            url: path('app_cart_add', {id: item.article.id}),
                            class: "btn btn-outline-success btn-sm rounded-circle",
                            icon: "bi-cart"
                        } %}
                    </div>
                </th>
            {% endif %}
            <th>
                <a href="{{ path('app_catalog_show', { support: item.article.support, slug: item.article.slug}) }}">
                    {% if item.article.album.images[0] is defined %}
                        <img
                            src="{{ asset('upload/albums/' ~ item.article.album.images[0].imageName) }}"
                            alt="{{ item.article.name }}"
                            class="img-thumbnail"
                            width="80" height="80">
                    {% else %}
                        <img src="{{ asset('/images/product_placeholder.png') }}"
                             alt="{{ item.article.name }}"
                             class="img-thumbnail"
                             width="80"
                             height="80">
                    {% endif %}
                </a>
            </th>
            <th class="text-center fw-light">
                {{ item.article.name }} - {{ item.article.support | upper }}
            </th>
            <th class="text-center  fw-light">
                {{ wantlist_route ?
                (item.article.price / 100) |format_currency('EUR') :
                item.article.support | upper }}
            </th>
            <th class="text-center fw-light">
                {{ wantlist_route ?
                item.article.quantity :
                item.since | date }}
            </th>
        </tr>
    {% else %}
        <tr>
            <th colspan="{{ categories | length }}">
                <p class="fw-medium fst-italic text-center my-5">{{ empty_message }}</p>
            </th>
        </tr>
    {% endfor %}
    </tbody>
</table>
