{% extends 'base.html.twig' %}

{% block body %}
    <div class="container pt-5">
        {% include 'layout/_breadcrumb.html.twig' with {breadcrumb} %}
        <div class="row">
            <div class="col-md-3">
                {{ form_start(form) }}
                {% for formChild in form %}
                    {% if formChild.vars.name == 'submit' or formChild.vars.name == 'kbrProduction' %}
                        {{ form_row(formChild) }}
                    {% else %}
                        <div class="filter-accordion mb-4"
                             data-controller="filter-accordion">
                            <div class="filter-label bg-light   rounded-2">
                                {{ form_label(formChild) }}
                                <i class="bi bi-chevron-compact-down cursor-pointer"
                                   data-action="click->filter-accordion#open"></i>
                            </div>
                            <div class="filter-body">
                                {{ form_widget(formChild) }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {{ form_end(form) }}
            </div>
            <div class="col-md-9">
                <p>{{ articles.totalItemCount }} éléments trouvés.</p>
                {% include 'layout/article/_article-grid.html.twig' with {articles: articles.items} %}
            </div>
        </div>
        {{ knp_pagination_render(articles, 'partials/_pagination.html.twig') }}
    </div>
{% endblock %}
