{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        {% include 'layout/_breadcrumb.html.twig' with {breadcrumb} %}
        <div class="row">
            <div class="col-md-3">
                <p class="badge text-bg-dark" data-test-badge="count-production">
                    {{ articles.totalItemCount }} éléments trouvés.
                </p>
                {{ form_start(form) }}
                <div class="d-flex flex-column flex-nowrap">
                    {% for formChild in form.children.globalFilters.children %}
                        {% if formChild.vars.name == 'artists' %}
                            {% include 'layout/article/_accordion_filter_form.html.twig' with {
                                form: formChild,
                                order: 'order-first',
                                opened: true
                            } %}
                        {% endif %}
                        {% if formChild.vars.name == 'labels' %}
                            {% include 'layout/article/_accordion_filter_form.html.twig' with {
                                form: formChild,
                                order: 'order-2',
                            } %}
                        {% endif %}
                        {% if formChild.vars.name == 'styles' %}
                            {% include 'layout/article/_accordion_filter_form.html.twig' with {
                                form: formChild,
                                order: 'order-3',
                            } %}
                        {% endif %}
                        {% if formChild.vars.name == 'kbrProduction' %}
                            <div class="order-last">
                                {{ form_widget(formChild) }}
                                {{ form_label(formChild) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if form.supports is defined %}
                        {% include 'layout/article/_accordion_filter_form.html.twig' with {
                            form: form.supports,
                            order: 'order-4',
                        } %}
                    {% endif %}
                    <div class="d-grid col-12 mx-auto mt-3 order-last">
                        <button class="btn btn-outline-dark" type="submit">Envoyer</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-8">
                {% include 'layout/article/_active-filter.html.twig' with {
                    filters
                } %}
                {% include 'layout/article/_article-grid.html.twig' with {articles: articles.items} %}
                {{ knp_pagination_render(articles, 'partials/_pagination.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
