{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-5">
        {% include 'layout/_breadcrumb.html.twig' with {breadcrumb} %}
        <div class="row">
            <div class="col">
                <h1 class="text-center">{{ article.name }}</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-5">
                {% if article.album.images[0] is defined %}
                    <img src="{{ asset('upload/albums/' ~ article.album.images[0].imageName) }}"
                         alt="{{ article.name }}">
                {% else %}
                    <img src="{{ asset('/images/product_placeholder.png') }}" alt="{{ article.name }}">
                {% endif %}
            </div>
            <div class="d-sm-none d-md-block col-md-2"></div>
            <div class="col-md-5">
                <div class="d-flex flex-column justify-content-center">
                    <p>Quantité: {{ article.quantity }}</p>
                    <p>Prix: {{ ( article.price/100) |format_currency('EUR') }}</p>
                    <a href="{{ path('app_cart_add', {id: article.id}) }}" class="btn btn-success w-content">
                        <i class="bi bi-minecart"></i>
                    </a>
                    <p>
                        {% for tracklist in article.album.tracklists %}
                            {{ tracklist.track }} - {{ tracklist.name }} <br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card mt-5">
                    <div class="card-body">
                        <p>{{ article.album.note }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% if articleByArtist |length > 1 %}
            {% include 'layout/article/_section.html.twig' with {articles: articleByArtist, title: 'Artiste'} %}
        {% endif %}

        {% if articleSameStyle|length > 1 %}
            {% include 'layout/article/_section.html.twig' with {articles: articleSameStyle, title: 'Style'} %}
        {% endif %}
    </div>
{% endblock %}
