{% extends 'base.html.twig' %}

{% block body %}
    <div class="container py-5">
        {% include 'layout/_breadcrumb.html.twig' with {breadcrumb} %}
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <div class="d-flex flex-column align-items-center justify-content-center">
                    <p>{{ article.name }}</p>
                    <p>Quantité: {{ article.quantity }}</p>
                    <p>Prix: {{( article.price/100) |format_currency('EUR') }}</p>
                    <p>{{ article.album.kbrProduction }}</p>
                    {% for tracklist in article.album.tracklists %}
                        <p>{{ tracklist.track }} - {{ tracklist.name }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
